<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <title>Proyecto WEB - About</title>
</head>

<body class="body">

    <main class="main">
        <div class="main__imagen">
            <img src="../storage/image/about.png">
        </div>
        
        <article class="main__contenido">
            
            <p>About us</p>
            <h1>We speak the good
                food language</h1>
            <p>It is a long established fact that a be distracted by the readable content looking at its layout. The point of</p>
            <a href="#">Learn More</a>
                
        </article>
        
    </main>

</body>
</html>