<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Proyecto WEB - Menu</title>

</head>


<body class="body">

    <main class="main">
        <div class="main__titulo">
            <p>Food Menu</p>
            <h1>Fresh taste and great price</h1>
        </div>

        <div class="main__opciones">
            <div class="opciones__1">
                <img src="../storage/image/exit.png" alt="exit">
                <img src="../storage/image/food1.png" alt="comida1">
                <p>Chicken Burger</p>
                <small>Tasty Food</small>
                <small>$11.00</small>
            </div>


            <div class="opciones__2">
                <img src="../storage/image/exit.png" alt="exit">
                <img src="../storage/image/food2.png" alt="comida2">
                <p>Special Beef Burger</p>
                <small>Tasty Food</small>
                <small>$11.00</small>
            </div>


            <div class="opciones__3">
                <img src="../storage/image/exit.png" alt="exit">
                <img src="../storage/image/food3.png" alt="comida3">
                <p>Chicken Fry Pack</p>
                <small>Tasty Food</small>
                <small>$11.00</small>
            </div>

        </div>
    </main>
    
</body>
</html>