<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/service.css">
    <title>Proyecto WEB - Service</title>
</head>


<body class="body">

    <main class="main">
        <div class="main__titulo">
            <p>Services</p>
            <h1>We provide best food services</h1>
        </div>



        <div class="main__opciones">

            <div class="opciones__1">
                <img src="../storage/image/s1.png">
                <h3>Order</h3>
                <p>It is a long established  
                    be distracted by the readable 
                    looking at its layout. </p>
            </div>



            <div class="opciones__2">
                <img src="../storage/image/s2.png">
                <h3>Shipping</h3>
                <p>It is a long established  
                    be distracted by the readable 
                    looking at its layout. </p>
            </div>



            <div class="opciones__3">
                <img src="../storage/image/s3.png">
                <h3>Delivered</h3>
                <p>It is a long established  
                    be distracted by the readable 
                    looking at its layout. </p>
            </div>

        </div>

    </main>
    
</body>
</html>